﻿@using Entity.Model;

@{
    var count = 0;

    //var CompanyInfo = ViewBag.ComapnyInfo;
    //var CompanyNane = "";
    //var ComAddress = "";
    //if (CompanyInfo != null)
    //{
    //    CompanyNane = CompanyInfo.CompanyName;
    //    ComAddress = CompanyInfo.CompanyAddress;
    //}

    var Fromdate = ViewBag.FromDate;
    var ToDate = ViewBag.ToDate;

}
<style>
    #tblSummaryReport {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #tblSummaryReport td, #tblSummaryReport th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #tblSummaryReport tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #tblSummaryReport tr:hover {
            background-color: #ddd;
        }

        #tblSummaryReport th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }

    .myButton {
        background-color: #458bc7;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 14px;
        font-weight: bold;
        padding: 5px 21px;
        text-decoration: none;
    }

        .myButton:hover {
            background-color: #0f57c2;
        }

        .myButton:active {
            position: relative;
            top: 1px;
        }
</style>

<div class="box">
    <input type="button" class="myButton" value="PDF" style="margin-left: 10px;" id="btnExport" />
    <input type="button" class="myButton" value="EXCEL" id="ExcelImport" />
</div>

<div class="panel-body table-responsive no-padding">
    <table class="table table-bordered" runat="server" id="tblSummaryReport">
        <thead>
            <tr>
                <th data-localize="SN">S.no</th>
                <th data-localize="EmployeeName">Employee</th>
                <th data-localize="Department">Department</th>
                <th data-localize="Designation">Designation</th>
                <th data-localize="Section">Section</th>
                <th data-localize="Shift">Shift</th>
                <th data-localize="WorkingDays">Working Days</th>
                <th data-localize="PresentDays">Present Days</th>
                <th data-localize="Absent">Absent</th>
                <th data-localize="Leave">Leave</th>

                <th data-localize="Weekend">Weekends</th>
                <th data-localize="WorkedOnWeekends">Worked On Weekends</th>
                <th data-localize="Holidays">Holidays</th>
                <th data-localize="WorkedOnHolidays">Worked On Holidays</th>

                <th data-localize="OverTimeInHrs">Over Time(In Hrs)</th>
                <th data-localize="LateIn">Late In</th>
                <th data-localize="EarlyIn">Early In</th>
                <th data-localize="EarlyOut">Early Out</th>
                <th data-localize="LateOut">Late Out</th>
                <th data-localize="WorkedHour">WrkedHrs</th>
                <th data-localize="ExtratimeWorkH">Extratime(Hr)</th>

                <th data-localize="AbsentByLE">Absent By Latein/Earlyout</th>
            </tr>



        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                int valWh = item.WorkedHours;
                int val = item.ExtraTime;
                TimeSpan result = TimeSpan.FromMinutes(Convert.ToInt32(val));
                var hours = (decimal)result.TotalHours;
                TimeSpan resultwh = TimeSpan.FromMinutes(Convert.ToInt32(valWh));
                var Whours = (decimal)resultwh.TotalHours;
                // string fromTimeString = hours.ToString("hh':'mm");
                <tr>
                    <td>
                        @(count = count + 1)
                    </td>
                    <td>
                        @item.Emp_Name
                    </td>
                    <td>
                        @if (string.IsNullOrEmpty(item.DepartmentName))
                        {
                            <p>-</p>
                        }
                        else
                        {
                            <p>@item.DepartmentName</p>
                        }

                    </td>
                    <td>
                        @if (string.IsNullOrEmpty(item.DesignationName))
                        {
                            <p>-</p>
                        }
                        else
                        {
                            <p>@item.DesignationName</p>
                        }

                    </td>
                    <td>
                        @if (string.IsNullOrEmpty(item.SectionName))
                        {
                            <p>-</p>
                        }
                        else
                        {
                            <p>@item.SectionName</p>
                        }

                    </td>
                    <td>
                        @if (string.IsNullOrEmpty(item.ShiftStart))
                        {
                            <p>-</p>
                        }
                        else
                        {
                            <p>@item.ShiftStart - @item.ShiftEnd</p>
                        }

                    </td>
                    <td>
                        @item.WorkingDays
                    </td>
                    <td>
                        @item.PresentCount
                    </td>
                    <td>
                        @item.AbsentCount
                    </td>
                    <td>
                        @item.LeaveCount
                    </td>
                    <td>
                        @item.WeekendCount
                    </td>
                    <td>
                        @item.WorkedOnWeekend
                    </td>
                    <td>
                        @item.HolidayCount
                    </td>
                    <td>
                        @item.WorkedOnHoliday
                    </td>
                    <td>
                        @if (Convert.ToString(item.TotalOT) == "00:00")
                        {
                            <p>-</p>
                        }
                        else
                        {
                            <p>@item.TotalOT.ToString(@"hh\:mm")</p>
                        }

                    </td>
                    <td>
                        @item.LateInCount

                    </td>
                    <td>
                        @item.EarlyInCount
                    </td>
                    <td>
                        @item.EatlyOutCount
                    </td>
                    <td>
                        @item.LateOutCount
                    </td>
                    <td>
                        @if (Whours != 0)
                        {
                            <p>@String.Format("{0:.##}", Whours)</p>
                        }
                        else
                        {
                            <p>0</p>
                        }


                    </td>
                    <td>
                        @if (hours != 0)
                        {
                            <p>@String.Format("{0:.##}", hours)</p>
                        }
                        else
                        {
                            <p>0</p>
                        }



                    </td>
                    <td>

                        @item.LEA
                    </td>
                </tr>
            }

        </tbody>

    </table>


</div>

<script src="~/Content/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="~/Content/table2excel.js"></script>

<script>
    debugger;
    @*var leaveList = @Html.Raw(Json.Encode(@ViewBag.LeaveCodeList));
        $(leaveList).each(function (i, x) {
            $(".indexes").append("<div class='alert alert-warning alert-dismissible col-md-3' style='background-color: @LeaveColor !important ; width: 10%;float: left;height: 30px; margin: 1px;'><b>" + x.Code + "</b>. : " + x.LeaveName + ". </div>");
    })*@

    $("body").on("click", "#btnExport", function () {
        html2canvas($('#tblSummaryReport')[0], {
            onrendered: function (canvas) {
                var data = canvas.toDataURL();
                var docDefinition = {
                    content: [{
                        image: data,
                        width: 500
                    }]
                };
                pdfMake.createPdf(docDefinition).download("Summary Attendance Report.pdf");
            }
        });
    });

    $(function () {
        $('#ExcelImport').click(function () {
            $('<table>')
                .append($($("#tblSummaryReport").DataTable().table().header()).clone())
                .append($("#tblSummaryReport").DataTable().$('tr').clone()).table2excel({
                    exclude: ".noExl",
                    name: "Excel Document Name",
                    filename: "SummaryReport" + new Date().toISOString().replace(/[\-\:\.]/g, ""),
                    fileext: ".xlsx",
                    exclude_img: true,
                    exclude_links: true,
                    exclude_inputs: true
                });
            $('#tblSummaryReport').DataTable().destroy();
        });

    });
</script>

